.clear {
	clear: both;
}

/*gnb*/
#wrap {
	width: 100%;
	position: relative;
}
#portpolio_header {
	background: #3d3d3d;
	min-width: 1024px;
	background-size: 100% auto;
}
#portpolio_header .back {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
#portpolio_header h1 {
	float: left;
	padding: 16px 0;
}
#portpolio_header h1 img {
	vertical-align: middle;
}
#portpolio_header .port_gnb {
	color: #fff;
	font-family: 'NanumSquareB';
	font-size: 20px;
	float: right;
	overflow: hidden;
	line-height: 47px;
	padding: 16px 0;
	letter-spacing: -0.04em;
}
#portpolio_header .port_gnb ul {
	float: left;
}
#portpolio_header .port_gnb ul li {
	float: left;
	padding-left: 60px;
}
#portpolio_header .port_gnb ul li a {
	color: #fff;
	text-decoration: none;
}
#portpolio_header .port_gnb ul li a:hover, header .port_gnb ul li a:active {
	color: #fec503;
	text-decoration: none;
}

/*about/skill*/
#content {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	padding: 60px 0 60px 0;
	font-family: 'NanumBarunGothic';
}
#content h1 {
	text-align: center;
	color: #fec503;
	font-size: 48px;
	letter-spacing: -0.04em;
}
.about{
	width: 50%;
	float: left;
	font-size: 16px;
	overflow: hidden;
}
.about>div, .skill>div, .experience>div {
	padding: 90px 7px 0 7px;
	overflow: hidden;
}
.about ul, .skill ul {
	float: left;
	width: 100%;
}
.about ul li, .skill ul li {
	float: left;
	width: 55%;
	margin-bottom: 22px;
}
.about ul .tit, .skill ul .tit {
	width: 40%;
	font-weight: bold;
	clear: both;
}
.about ul .tit+li {
	color: #777;
}
.skill{
	width: 50%;
	float: right;
	font-size: 16px;
	overflow: hidden;
}
.skill ul .tit+li {
	border: 1px solid #777;
	font-size: 14px;
}
.skill ul span {
	background: #777;
	color: #fff;
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.skill ul span .graph {
	position: relative;
	left: 25px;
	font-size: 14px;
	color: #333;
	display: inline;
	background: transparent;
}
.skill .tit+li span:nth-child(3) {
	width: 15%;
}

/*portpolio*/
.portpolio {
	text-align: center;
}
.portpolio ul li {
	display: inline-block;
}
.portpolio>div {
	width: 100%;
	text-align: center;
	margin-top: 35px;
}
.portpolio ul {
	display: inline-block;
}
.portpolio ul li {
	display: inline-block;
	border: 1px solid #fec503;
	font-family: 'NanumSquareB';
	font-size: 14px;
	width: 70px;
	line-height: 28px;
	font-weight: bold;
}
.portpolio ul li:hover {
	background: #fec503;
}
.portpolio ul li a {
	color: #777;
	text-decoration: none;
	display: block;
}
.portpolio ul li a:hover, .portpolio ul li a:active {
	color: #fff;
	text-decoration: none;
}
.portpolio_all {
	width: 100%;
	padding: 60px 0 0 0;
	overflow: hidden;
	text-align: center;
}
.portpolio_all ul {
	display: inline-block;
}
.portpolio_all .item {
	width: 502px;
	height: 462px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0 8px 8px 0;
	border: 1px solid #dedede;
}
.portpolio_all .item .caption {
/*	width: 512px;
	height: 336px;
	background: #ffae4c;
	color: #fff;
	position: absolute;
	left:0;
	display: none;
	font-size: 15px;
	text-align: center;
	line-height: 336px;
	letter-spacing: -0.04em;*/
	/* opacity setting */
	filter:alpha(opacity=80);    /* ie  */
	-moz-opacity:0.8;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.8;    /* for really really old safari */
	opacity: 0.8;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.portpolio_all .item .caption span {
	width: 200px;
}
.portpolio_all .item .caption a {
	display: block;
	color: #fff;
}
.portpolio_all .item img {
/*	position: absolute;*/
}
.portpolio_all ul li:nth-child(3) {
	margin-right: 0;
}

/*portpolio_detail*/
.detail_box {
	width: 670px;
/*	border: 1px solid #dedede;*/
	height: 700px;
	float: left;
}


.detail_box_sub {
	width: 338px;
	float: right;
	font-size: 16px;
}
.detail_box_sub ul{
	float: left;
}
.detail_box_sub ul li {
	float: left;
	width: 59%;
	margin-bottom: 22px;
}
.detail_box_sub ul li a {
	color: #fec503;
	font-weight: bold;
}
.detail_box_sub ul .tit {
	width: 40%;
	font-weight: bold;
	clear: both;
}
.detail_box_sub ul .tit+li {
	color: #777;
}

/*experience*/
./*experience .back {
	position: relative;
	left: 50%;
	background:url('../images/stick_back.jpg') no-repeat;
	width: 8px;
	height: 550px;
}*/