.clear {
	clear: both;
}

/*gnb*/
#wrap {
	width: 100%;
	position: relative;
}
#portpolio_header {
	background: #3d3d3d;
	min-width: 1024px;
}
#portpolio_header .back {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
#portpolio_header h1 {
	float: left;
	padding: 16px 0;
}
#portpolio_header h1 img {
	vertical-align: middle;
}
#portpolio_header .port_gnb {
	color: #fff;
	font-family: 'NanumSquareB';
	font-size: 20px;
	float: right;
	overflow: hidden;
	line-height: 47px;
	padding: 16px 0;
	letter-spacing: -0.04em;
}
#portpolio_header .port_gnb ul {
	float: left;
}
#portpolio_header .port_gnb ul li {
	float: left;
	padding-left: 60px;
}
#portpolio_header .port_gnb ul li a {
	color: #fff;
	text-decoration: none;
}
#portpolio_header .port_gnb ul li a:hover, header .port_gnb ul li a:active {
	color: #fec503;
	text-decoration: none;
}

/*about/skill*/
#content {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	padding: 60px 0 60px 0;
	font-family: 'NanumBarunGothic';
}
#content h1 {
	text-align: center;
	color: #fec503;
	font-size: 48px;
	letter-spacing: -0.04em;
}
.about{
	width: 50%;
	float: left;
	font-size: 16px;
	overflow: hidden;
}
.about>div, .skill>div {
	padding: 90px 7px 0 7px;
}
.about ul, .skill ul {
	float: left;
	width: 100%;
}
.about ul li, .skill ul li {
	float: left;
	width: 55%;
	margin-bottom: 22px;
}
.about ul .tit, .skill ul .tit {
	width: 40%;
	font-weight: bold;
	clear: both;
}
.about ul .tit+li {
	color: #777;
}
.skill{
	width: 50%;
	float: right;
	font-size: 16px;
	overflow: hidden;
}
.skill ul .tit+li {
	border: 1px solid #777;
	font-size: 14px;
}
.skill ul span {
	background: #777;
	color: #fff;
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.skill ul span .graph {
	position: relative;
	left: 25px;
	font-size: 14px;
	color: #333;
	display: inline;
	background: transparent;
}
.skill .tit+li span:nth-child(3) {
	width: 15%;
}

/*portpolio*/
.portpolio ul {
	float: right;
}
.portpolio ul li {
	float: left;
	border: 1px solid #fec503;
	font-family: 'NanumSquareB';
	font-size: 14px;
	margin-left: 8px;
	width: 70px;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
}
.portpolio ul li:hover {
	background: #fec503;
}
.portpolio ul li a {
	color: #777;
	text-decoration: none;
}
.portpolio ul li a:hover, .portpolio ul li a:active {
	color: #fff;
	text-decoration: none;
}
.portpolio_all {
	width: 100%;
	padding: 90px 0 0 0;
}
.portpolio_all div {
	width: 335px;
	height: 335px;
	border: 1px solid #ccc;
	float: left;
	margin: 0 6px 6px 0;
}
.portpolio_all div:nth-child(3) {
	margin-right: 0;
}
.portpolio_all div:nth-child(6) {
	margin-right: 0;
}
.portpolio_all div:nth-child(9) {
	margin-right: 0;
}
.portpolio_all div:hover {
	background: #ffae4c;
	border: 1px solid #ffae4c;
	z-index: 9999;
}
.portpolio_all img:hover {
	background: #ffae4c;
}

